<div class="container" id="wellcome" style="height: 500px;">
  <div class="justify-content-center" style="position: relative;top: 10%">
    <h1 class="text-center ">Welcome to Chat Group</h1>
    <br>
    <h1 class="text-center display-1 font-weight-bolder">Angular</h1>
    <br>
    <h4 *ngIf="authService.loginSuccess" class="text-center"><a class="btn btn-success" routerLink="chat" (click)="hideWelCome()">Go to chat group</a></h4>
    <h4 *ngIf="authService.loginSuccess" class="text-center"><a class="btn btn-danger" routerLink="logout" (click)="logout()">Logout</a></h4>
    <h4 *ngIf="!authService.loginSuccess" class="text-center"><a class="btn btn-success" routerLink="login" (click)="hideWelCome()">Login</a></h4>
  </div>
</div>

